<!-- Hero 1 - HCF Bootstrap 5 Component -->
<section class="hero-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
        <h1 class="display-3 fw-bold mb-3 text-warning">Poke CardKetchum</h1>
        <p class="lead mb-5 text-warning"></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-light btn-lg px-4 gap-3 text-warning", role: "button" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-light btn-lg px-4 gap-3 text-warning" %>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
